* {
  margin: 0;
}

html,
body {
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.app-container {
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none !important;
  background: transparent;
}
.content-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
}
