/* Global table styles */
.grid-table {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.table-header-container,
.grid-table-row {
  display: flex;
  width: 100%;
}

.table-header,
.grid-table-cell {
  flex: 1;
  padding: 0.625em;
  text-align: center;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;

  &[data-label="actions"] {
    order: 2
  }
}

.table-header {
  background-color: #f8f8f8;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  order: 1;

  &[data-label="actions"] {
    order: 2
  }
}

.grid-table-row {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

/* Styles for action buttons */
.action {
  margin-right: 10px;
}

/* Styles for input fields */
.grid-table input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

/* Styles for SVG icons */
.grid-table-cell svg {
  padding: 5px;
  border-radius: 50%;
}

.grid-table-cell svg:hover {
  cursor: pointer;
  background-color: #273e612b;
  border-radius: 50%;
  transition: background-color 0.5s ease;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .grid-table {
    border: 0;
  }

  .table-header-container {
    display: none;
  }

  .grid-table-row {
    flex-direction: column;
    border-bottom: 3px solid #ddd;
    margin-bottom: 0.625em;
  }

  .grid-table-cell {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    text-align: right;
  }

  .grid-table-cell::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
  }

  .grid-table-row .grid-table-cell:last-child {
    border-bottom: 0;
  }
}
